src/netgest/bo/services/IXEOHub.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--Generated by the Oracle JDeveloper 10g Web Services WSDL Generator-->
<!--Date Created: Wed Oct 20 15:20:55 GMT 2004-->
<definitions
   name="XEOHub"
   targetNamespace="http://netgest/bo/services/XEOHubSimple.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://netgest/bo/services/XEOHubSimple.wsdl"
   xmlns:ns1="http://netgest.bo.services/IXEOHub.xsd">
   <types>
      <schema
         targetNamespace="http://netgest.bo.services/IXEOHub.xsd"
         xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"/>
   </types>
   <message name="authenticate0Request">
      <part name="username" type="xsd:string"/>
      <part name="password" type="xsd:string"/>
   </message>
   <message name="authenticate0Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="update1Request">
      <part name="xeodocument" type="xsd:string"/>
      <part name="sessionid" type="xsd:string"/>
   </message>
   <message name="update1Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="destroy2Request">
      <part name="xeodocument" type="xsd:string"/>
      <part name="sessionid" type="xsd:string"/>
   </message>
   <message name="destroy2Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="getNewObject3Request">
      <part name="name" type="xsd:string"/>
      <part name="sessionid" type="xsd:string"/>
   </message>
   <message name="getNewObject3Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="getObjects4Request">
      <part name="name" type="xsd:string"/>
      <part name="qry" type="xsd:string"/>
      <part name="sessionid" type="xsd:string"/>
   </message>
   <message name="getObjects4Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="getRequestChangedObject5Request">
      <part name="name" type="xsd:string"/>
      <part name="qry" type="xsd:string"/>
      <part name="sessionid" type="xsd:string"/>
   </message>
   <message name="getRequestChangedObject5Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="getObject6Request">
      <part name="boui" type="xsd:long"/>
      <part name="sessionid" type="xsd:string"/>
   </message>
   <message name="getObject6Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="execute7Request">
      <part name="xeoql" type="xsd:string"/>
      <part name="sessionid" type="xsd:string"/>
   </message>
   <message name="execute7Response">
      <part name="return" type="xsd:string"/>
   </message>
   <portType name="XEOHubSimplePortType">
      <operation name="authenticate">
         <input name="authenticate0Request" message="tns:authenticate0Request"/>
         <output name="authenticate0Response" message="tns:authenticate0Response"/>
      </operation>
      <operation name="update">
         <input name="update1Request" message="tns:update1Request"/>
         <output name="update1Response" message="tns:update1Response"/>
      </operation>
      <operation name="destroy">
         <input name="destroy2Request" message="tns:destroy2Request"/>
         <output name="destroy2Response" message="tns:destroy2Response"/>
      </operation>
      <operation name="getNewObject">
         <input name="getNewObject3Request" message="tns:getNewObject3Request"/>
         <output name="getNewObject3Response" message="tns:getNewObject3Response"/>
      </operation>
      <operation name="getObjects">
         <input name="getObjects4Request" message="tns:getObjects4Request"/>
         <output name="getObjects4Response" message="tns:getObjects4Response"/>
      </operation>
      <operation name="getRequestChangedObject">
         <input name="getRequestChangedObject5Request" message="tns:getRequestChangedObject5Request"/>
         <output name="getRequestChangedObject5Response" message="tns:getRequestChangedObject5Response"/>
      </operation>
      <operation name="getObject">
         <input name="getObject6Request" message="tns:getObject6Request"/>
         <output name="getObject6Response" message="tns:getObject6Response"/>
      </operation>
      <operation name="execute">
         <input name="execute7Request" message="tns:execute7Request"/>
         <output name="execute7Response" message="tns:execute7Response"/>
      </operation>
   </portType>
   <binding name="XEOHubSimpleBinding" type="tns:XEOHubSimplePortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="authenticate">
         <soap:operation soapAction="" style="rpc"/>
         <input name="authenticate0Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="authenticate0Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="update">
         <soap:operation soapAction="" style="rpc"/>
         <input name="update1Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="update1Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="destroy">
         <soap:operation soapAction="" style="rpc"/>
         <input name="destroy2Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="destroy2Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getNewObject">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getNewObject3Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getNewObject3Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getObjects">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getObjects4Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getObjects4Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getRequestChangedObject">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getRequestChangedObject5Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getRequestChangedObject5Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getObject">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getObject6Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getObject6Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="execute">
         <soap:operation soapAction="" style="rpc"/>
         <input name="execute7Request">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="execute7Response">
            <soap:body use="encoded" namespace="XEOHub" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="XEOHub">
      <port name="XEOHubSimplePort" binding="tns:XEOHubSimpleBinding">
         <soap:address location="http://10.11.100.11:8988/ngt_server/XEOHub"/>
      </port>
   </service>
</definitions>
