xeoModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by jcarreira (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xm="xeoModel" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<!--definições globais -->
	<xs:simpleType name="notEmptyTextElement">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="xeoCodeNotEmptyElement">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="referenceToAttribute">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9_-_.]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="xeoLanguage">
		<xs:simpleContent>
			<xs:extension base="xeoCodeNotEmptyElement">
				<xs:attribute name="language" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="XEP"/>
							<xs:enumeration value="BOL"/>
							<xs:enumeration value="JAVA"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="xeoLanguageComplex" mixed="true">
		<xs:attribute name="language" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="XEP"/>
					<xs:enumeration value="BOL"/>
					<xs:enumeration value="BOOLEAN"/>
					<xs:enumeration value="JAVA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="xeoLanguageWithDepends" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="xeoLanguageComplex">
				<xs:sequence>
					<xs:element name="depends" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attribute" type="referenceToAttribute" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="unboundedType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yesOrNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes"/>
			<xs:enumeration value="no"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tagObjects">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="object"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="maxOccursType">
		<xs:union memberTypes="unboundedType xs:nonNegativeInteger"/>
	</xs:simpleType>
	<!-- fim de definições globais -->
	<xs:element name="label" type="xs:string"/>
	<xs:element name="general">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="locale">
					<xs:annotation>
						<xs:documentation>Identificação da lingua e país utilizado para descrever o objecto.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="language" default="pt">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="pt"/>
									<xs:enumeration value="en"/>
									<xs:enumeration value="es"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="country" default="PT">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="PT"/>
									<xs:enumeration value="BR"/>
									<xs:enumeration value="UK"/>
									<xs:enumeration value="US"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="variant" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="implements">
					<xs:annotation>
						<xs:documentation>Lista de interfaces que o objecto implementa.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="interface" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="database">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="object" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="label"/>
										<xs:element name="expression"/>
									</xs:sequence>
									<xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="index"/>
												<xs:enumeration value="unique"/>
												<xs:enumeration value="primary"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="id" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="versioning">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="checkoutOptions" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="active" type="xs:boolean" use="required"/>
									<xs:attribute name="allowMultiple" type="xs:boolean" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="workflows" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="destroyWorkflow" type="xs:string"/>
										<xs:element name="modifyWorkflow" type="xs:string"/>
										<xs:element name="createWorkflow" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="active" type="xs:boolean" use="optional" default="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="textIndex">
					<xs:annotation>
						<xs:documentation>Lista dos atributos que serão utilizados para o textIndex.O objectivo desta tag é limitar os atributos que são utilizados para a pesquisa por  fulltext.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="process">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="attribute">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="referenceToAttribute">
														<xs:attribute name="onlyCardID" type="xs:boolean" use="optional" default="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="active" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:boolean"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="appendChilds" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:boolean"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="deep" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:byte">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="castTo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Utiliza-se quando se pretende ter a possibilidade de fazer a transformação dos objectos desta classe de negócio para outra classe de negócio</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="interface" type="xs:string" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="class" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="cardID" type="xs:string">
					<xs:annotation>
						<xs:documentation>Máscara da forma como vão aparecer os links para este objecto.Os atributos referenciados devem estar entre parentises rectos.Exemplo para o caso da classe pessoa : [apelido],[nome]</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="label"/>
				<xs:element name="objects" type="tagObjects" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Esta lista de objectos apenas deve ser utilizada na modelação de interfaces.Destina-se a forçar que a lista de objectos implemente este interface</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="databaseManager" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="manageTables" type="xs:boolean"/>
						<xs:attribute name="manageViews" type="xs:boolean"/>
						<xs:attribute name="xeoCompatible" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="object"/>
						<xs:enumeration value="interface"/>
						<xs:enumeration value="abstract"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="extends" type="xs:string" use="required"/>
			<xs:attribute name="mastertable" type="xs:string" use="optional"/>
			<xs:attribute name="orphan" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="multiparent" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="extendsJavaClass" type="xs:string" use="optional"/>
			<xs:anyAttribute namespace="##any" processContents="skip"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="opl">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="classKeys" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="class">
								<xs:complexType>
									<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="attributeKeys" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="read">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="attribute">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="referenceToAttribute">
														<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="write">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="attribute">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="referenceToAttribute">
														<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="delete">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="attribute">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="referenceToAttribute">
														<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="fullcontrol">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="attribute">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="referenceToAttribute">
														<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="active" type="xs:boolean" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="state">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="label" type="xs:string" minOccurs="0"/>
				<xs:element name="options" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="option">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="label" type="xs:string"/>
										<xs:element name="labelAction" type="xs:string" minOccurs="0"/>
										<xs:element name="subStates" minOccurs="0">
											<xs:complexType>
												<xs:sequence minOccurs="0" maxOccurs="unbounded">
													<xs:element ref="state"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="states">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="state"/>
			</xs:sequence>
			<xs:attribute name="refers" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="methods">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="method">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="label"/>
							<xs:element name="javascriptToRun">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="viewer">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="before" type="xs:string"/>
													<xs:element name="after" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="name" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="assinature">
								<xs:complexType>
									<xs:attribute name="return" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="body" type="xeoLanguage"/>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="public" type="xs:boolean" use="optional" default="true"/>
						<xs:attribute name="menu" type="xs:boolean" use="optional" default="true"/>
						<xs:attribute name="toolbar" type="xs:boolean" use="optional" default="true"/>
						<xs:attribute name="requiredTransaction" type="xs:boolean" use="optional" default="true"/>
						<xs:attribute name="serverOnly" type="xs:boolean" use="optional" default="false"/>
						<xs:attribute name="openDoc" type="xs:boolean" use="optional" default="false"/>
						<xs:attribute name="modeTemplate" type="xs:boolean" use="optional" default="false"/>
						<xs:attribute name="toObject" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="events">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="event">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="body" type="xeoLanguage"/>
						</xs:sequence>
						<xs:attribute name="name" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="onAfterCreate"/>
									<xs:enumeration value="Destroy"/>
									<xs:enumeration value="onAfterLoad"/>
									<xs:enumeration value="onAfterSave"/>
									<xs:enumeration value="onBeforeCreate"/>
									<xs:enumeration value="onBeforeDestroy"/>
									<xs:enumeration value="onBeforeLoad"/>
									<xs:enumeration value="onBeforeSave"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fwdObjects">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="fwdObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="label"/>
							<xs:element name="maps">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="map">
											<xs:complexType>
												<xs:attribute name="attr_origin" use="required"/>
												<xs:attribute name="attr_destiny" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="afterMapClass" type="xs:string"/>
							<xs:element name="beforeMapClass" type="xs:string"/>
							<xs:element name="onSaveFwdObject" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="openDoc" type="xs:boolean" use="optional" default="false"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tagFilter">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="filter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="condition" type="xeoLanguage" minOccurs="0"/>
						<xs:element name="xeoql" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="forObject" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tagBridge">
		<xs:sequence>
			<xs:element ref="attributes"/>
		</xs:sequence>
		<xs:attribute name="table" use="optional"/>
	</xs:complexType>
	<xs:complexType name="tagTransformer">
		<xs:sequence>
			<xs:element name="from" type="xs:string"/>
			<xs:element name="class" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tagTextIndex">
		<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="appendChilds" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="deep" type="xs:nonNegativeInteger" use="optional" default="1"/>
		<xs:attribute name="onlyCardID" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:simpleType name="tagEditor">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HTML"/>
			<xs:enumeration value="TEXT"/>
			<xs:enumeration value="htmladvanced"/>
			<xs:enumeration value="HTMLADVANCED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tagBehavior">
		<xs:sequence>
			<xs:element name="img" type="xs:string"/>
			<xs:element name="script" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tagLov">
		<xs:sequence>
			<xs:element name="editable" type="xeoLanguageWithDepends" minOccurs="0"/>
			<xs:element name="items" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="item">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="value" type="xs:string"/>
									<xs:element name="label" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="retainValues" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="tagDatabase">
		<xs:all>
			<xs:element name="fieldname" type="xs:string" minOccurs="0"/>
			<xs:element name="unique" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="indexfull" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="indexed" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="tabled" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="constraint" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="binding" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="relation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="key" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="tagEvents">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="event">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="body" type="xeoLanguage"/>
					</xs:sequence>
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="onChange"/>
								<xs:enumeration value="onBeforeGetValue"/>
								<xs:enumeration value="onBeforeLoadBridge"/>
								<xs:enumeration value="onBeforeAdd"/>
								<xs:enumeration value="onBeforeChange"/>
								<xs:enumeration value="onBeforeChangeOrder"/>
								<xs:enumeration value="onAfterAdd"/>
								<xs:enumeration value="onAfterChange"/>
								<xs:enumeration value="onAfterGetValue"/>
								<xs:enumeration value="onAfterLoadBridge"/>
								<xs:enumeration value="onAfterChangeOrder"/>
								<xs:enumeration value="onBeforeRemove"/>
								<xs:enumeration value="onAfterRemove"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attributeType">
		<xs:all>
			<xs:element name="label" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="objects" type="tagObjects" minOccurs="0"/>
			<xs:element name="objectFilter" type="tagFilter" minOccurs="0"/>
			<xs:element name="bridge" type="tagBridge" minOccurs="0"/>
			<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
			<xs:element name="transformer" type="tagTransformer" minOccurs="0"/>
			<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
			<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="grouping" type="xs:boolean" minOccurs="0"/>
			<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="editor" type="tagEditor" minOccurs="0"/>
			<xs:element name="clock" type="xs:boolean" minOccurs="0"/>
			<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0"/>
			<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0"/>
			<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0"/>
			<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0"/>
			<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="manualCreate" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
			<xs:element name="lov" type="tagLov" minOccurs="0"/>
			<xs:element name="database" type="tagDatabase" minOccurs="0"/>
			<xs:element name="events" type="tagEvents" minOccurs="0"/>
			<xs:element ref="methods" minOccurs="0"/>
			<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
			<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
			<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
			<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
			<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
			<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
			<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
			<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
			<xs:element name="orphanRelation" type="xs:boolean" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z0-9_-_]+"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="attributeNumberType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeTextType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeLongTextType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeCurrencyType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeSequenceType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeDateType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeDateTimeType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeBooleanType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeDurationType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeBinaryDataType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0" maxOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0" maxOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0" maxOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0" maxOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0" maxOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeObjectType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0"/>
					<xs:element name="bridge" type="tagBridge" minOccurs="0" maxOccurs="0"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="maxOccurs" type="maxOccursType" fixed="1" minOccurs="0" maxOccurs="0"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0" maxOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="orphanRelation" type="xs:boolean" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="attributeObjectCollectionType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:all>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
					<xs:element name="tooltip" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:string"/>
					<xs:element name="objects" type="tagObjects" minOccurs="0"/>
					<xs:element name="objectFilter" type="tagFilter" minOccurs="0"/>
					<xs:element name="bridge" type="tagBridge"/>
					<xs:element name="setParent" type="xs:boolean" minOccurs="0"/>
					<xs:element name="transformer" type="tagTransformer" minOccurs="0"/>
					<xs:element name="textIndex" type="tagTextIndex" minOccurs="0"/>
					<xs:element name="len" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="min" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="max" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="grouping" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="decimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="minDecimals" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="0"/>
					<xs:element name="editor" type="tagEditor" minOccurs="0" maxOccurs="0"/>
					<xs:element name="clock" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsCheck" type="xs:boolean" minOccurs="0" maxOccurs="0"/>
					<xs:element name="renderAsLov" type="xs:boolean" minOccurs="0"/>
					<xs:element name="minOccurs" type="xs:nonNegativeInteger"/>
					<xs:element name="maxOccurs" type="maxOccursType"/>
					<xs:element name="runtimeMaxOccurs" type="maxOccursType" minOccurs="0"/>
					<xs:element name="manualOperation" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="manualAdd" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="manualCreate" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="showLookup" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="behavior" type="tagBehavior" minOccurs="0"/>
					<xs:element name="lov" type="tagLov" minOccurs="0" maxOccurs="0"/>
					<xs:element name="database" type="tagDatabase" minOccurs="0"/>
					<xs:element name="events" type="tagEvents" minOccurs="0"/>
					<xs:element ref="methods" minOccurs="0"/>
					<xs:element name="required" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="recommend" type="xeoLanguage" minOccurs="0"/>
					<xs:element name="formula" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="defaultValue" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="valid" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="disableWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="hiddenWhen" type="xeoLanguageWithDepends" minOccurs="0"/>
					<xs:element name="onChangeSubmit" type="xeoLanguage" minOccurs="0"/>
				</xs:all>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="attribute" type="attributeType" abstract="true"/>
	<xs:element name="attributeNumber" type="attributeNumberType" substitutionGroup="attribute"/>
	<xs:element name="attributeText" type="attributeTextType" substitutionGroup="attribute"/>
	<xs:element name="attributeLongText" type="attributeLongTextType" substitutionGroup="attribute"/>
	<xs:element name="attributeCurrency" type="attributeCurrencyType" substitutionGroup="attribute"/>
	<xs:element name="attributeSequence" type="attributeSequenceType" substitutionGroup="attribute"/>
	<xs:element name="attributeBoolean" type="attributeBooleanType" substitutionGroup="attribute"/>
	<xs:element name="attributeDuration" type="attributeDurationType" substitutionGroup="attribute"/>
	<xs:element name="attributeDate" type="attributeDateType" substitutionGroup="attribute"/>
	<xs:element name="attributeDateTime" type="attributeDateTimeType" substitutionGroup="attribute"/>
	<xs:element name="attributeBinaryData" type="attributeBinaryDataType" substitutionGroup="attribute"/>
	<xs:element name="attributeObject" type="attributeObjectType" substitutionGroup="attribute"/>
	<xs:element name="attributeObjectCollection" type="attributeObjectCollectionType" substitutionGroup="attribute"/>
	<xs:element name="attributes">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="attribute"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!---viewers BEGIN

    <xsd:include schemaLocation="xeoLayout.xsd"/>

-->
	<xs:attributeGroup name="commonLayoutAttributes">
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="order" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="bo_node" use="optional"/>
		<xs:attribute name="label" use="optional"/>
		<xs:attribute name="style" use="optional"/>
		<xs:anyAttribute namespace="##any" processContents="skip"/>
	</xs:attributeGroup>
	<xs:group name="graphicObject">
		<xs:choice>
			<xs:element ref="panel" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="code" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="areas" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="grid" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="button" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="div" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="explorer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>
	<xs:element name="areas" type="areasType"/>
	<xs:element name="panel" type="panelType"/>
	<xs:element name="code" type="codeType"/>
	<xs:element name="table" type="tableType"/>
	<xs:element name="section" type="sectionType"/>
	<xs:element name="grid" type="gridType"/>
	<xs:element name="hr" type="anyTag"/>
	<xs:element name="button" type="anyTag"/>
	<xs:element name="div" type="anyTag"/>
	<xs:complexType name="gridType">
		<xs:sequence>
			<xs:element name="cols">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="col">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="attribute">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="referenceToAttribute">
													<xs:attribute name="width" type="xs:string" use="optional"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:anyAttribute namespace="##any" processContents="skip"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:anyAttribute namespace="##any" processContents="skip"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="commonLayoutAttributes"/>
	</xs:complexType>
	<xs:element name="explorer">
		<xs:complexType>
			<xs:all>
				<xs:element name="explorerOptions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="menuOptions">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="newOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="newSubClassOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="newFromTemplateOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="printOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="exportOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="savePrintOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="destroyOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="groupsOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="parametersOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="refreshOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="fullTextSearchOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="advancedSearchOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="savedFiltersOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="previewRightOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="previewBottomOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="previewDisableOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="chooseColumnsOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="sortColumnsOption">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										
									</xs:sequence>
									<xs:attribute name="visible" type="xs:boolean" default="true"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="defaultState">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="groupsZone">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="parametersZone">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="previousZone">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="false"/>
												<xs:attribute name="zone" use="optional" default="right">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="right"/>
															<xs:enumeration value="bottom"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="columnsHeadersZone">
											<xs:complexType>
												<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="behavior">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="doubleClickAction">
											<xs:complexType>
												<xs:attribute name="disable" use="optional" default="false"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="selectAction">
											<xs:complexType>
												<xs:attribute name="disable" use="optional" default="false"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="attributes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="attribute" maxOccurs="unbounded">
								<xs:complexType mixed="true">
									<xs:all>
										<xs:element name="label" type="xs:string" minOccurs="0"/>
										<xs:element name="sql" minOccurs="0">
											<xs:complexType mixed="true">
												<xs:attribute name="returnType" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="values" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="value" maxOccurs="unbounded">
														<xs:complexType>
															<xs:all>
																<xs:element name="label" type="xs:string"/>
																<xs:element name="color" type="xs:string"/>
															</xs:all>
															<xs:attribute name="returnValue" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="width" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="order">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="referenceToAttribute">
											<xs:attribute name="direction">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="asc"/>
														<xs:enumeration value="desc"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="cols">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="col" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="attribute" type="referenceToAttribute"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="boql"/>
				<xs:element name="groups">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="group" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="attribute">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="referenceToAttribute">
														<xs:attribute name="order">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="asc"/>
																	<xs:enumeration value="desc"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-zA-Z0-9_-_]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="order" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tableType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="tr" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="td">
							<xs:complexType>
								<xs:group ref="graphicObject"/>
								<xs:anyAttribute namespace="##any" processContents="skip"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:anyAttribute namespace="##any" processContents="skip"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="commonLayoutAttributes"/>
	</xs:complexType>
	<xs:complexType name="sectionType">
		<xs:sequence>
			<xs:element name="rows">
				<xs:complexType>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="row">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="cell" maxOccurs="2">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="attribute" minOccurs="0">
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="referenceToAttribute">
																<xs:attribute name="showlabel" type="yesOrNo" use="optional" default="yes"/>
																<xs:attribute name="height" type="xs:string" use="optional"/>
																<xs:attribute name="width" type="xs:string" use="optional"/>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:anyAttribute namespace="##any" processContents="skip"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:anyAttribute namespace="##any" processContents="skip"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:anyAttribute namespace="##any" processContents="skip"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="commonLayoutAttributes"/>
	</xs:complexType>
	<xs:complexType name="codeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="intersectPoint" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="panelType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="tab">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="graphicObject"/>
					</xs:choice>
					<xs:anyAttribute namespace="##any" processContents="skip"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="commonLayoutAttributes"/>
	</xs:complexType>
	<xs:complexType name="areaType">
		<xs:choice maxOccurs="unbounded">
			<xs:group ref="graphicObject"/>
		</xs:choice>
		<xs:attributeGroup ref="commonLayoutAttributes"/>
	</xs:complexType>
	<xs:complexType name="areasType">
		<xs:sequence>
			<xs:element name="area" type="areaType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="formType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="graphicObject"/>
		</xs:choice>
		<xs:attributeGroup ref="commonLayoutAttributes"/>
		<xs:attribute name="formType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Edit"/>
					<xs:enumeration value="Wizard"/>
					<xs:enumeration value="List"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="forBridge" type="xs:string" use="optional"/>
		<xs:anyAttribute namespace="##any" processContents="skip"/>
	</xs:complexType>
	<xs:complexType name="categoryType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##any" processContents="skip"/>
	</xs:complexType>
	<xs:complexType name="anyTag" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##any" processContents="skip"/>
	</xs:complexType>
	<xs:element name="viewer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="forms">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="form" type="formType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="categories">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="category" type="categoryType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="viewers">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="viewer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--fim dos layouts -->
	<xs:element name="xeoModel">
		<xs:annotation>
			<xs:documentation>
				Root Element of a XEO Object, child elements of xeoModel define all properties of
				a XEO object
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="general">
					<xs:annotation>
						<xs:documentation>Defines general properties of the object (name, version, etc..)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="opl">
					<xs:annotation>
						<xs:documentation>Defines security policies that apply to this object</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="states"/>
				<xs:element ref="methods">
					<xs:annotation>
						<xs:documentation>An object can have a set of methods that are available during its 
						execution, those are defined here</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="events">
					<xs:annotation>
						<xs:documentation>An object can</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="fwdObjects" minOccurs="0"/>
				<xs:element ref="attributes"/>
				<xs:element ref="viewers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
