src/netgest/bo/impl/document/merge/gestemp/client/IWSDocument.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--Generated by the Oracle JDeveloper 10g Web Services WSDL Generator-->
<!--Date Created: Wed May 16 17:24:19 BST 2007-->
<definitions
   name="WSDocument"
   targetNamespace="http://netgest/bo/impl/document/merge/gestemp/client/ClientHelper.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://netgest/bo/impl/document/merge/gestemp/client/ClientHelper.wsdl"
   xmlns:ns1="http://netgest.bo.impl.document.merge.gestemp.client/IWSDocument.xsd">
   <types>
      <schema
         targetNamespace="http://netgest.bo.impl.document.merge.gestemp.client/IWSDocument.xsd"
         xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"/>
   </types>
   <message name="getDocumentByBoui0Request">
      <part name="boui" type="xsd:long"/>
   </message>
   <message name="getDocumentByBoui0Response">
      <part name="return" type="xsd:base64Binary"/>
   </message>
   <message name="setDocumentByBoui1Request">
      <part name="boui" type="xsd:long"/>
      <part name="buff" type="xsd:base64Binary"/>
   </message>
   <message name="setDocumentByBoui1Response"/>
   <message name="getDocument2Request">
      <part name="sessionID" type="xsd:string"/>
      <part name="transactionID" type="xsd:string"/>
      <part name="boui" type="xsd:long"/>
   </message>
   <message name="getDocument2Response">
      <part name="return" type="xsd:base64Binary"/>
   </message>
   <message name="setDocument3Request">
      <part name="sessionID" type="xsd:string"/>
      <part name="transactionID" type="xsd:string"/>
      <part name="boui" type="xsd:long"/>
      <part name="buff" type="xsd:base64Binary"/>
   </message>
   <message name="setDocument3Response"/>
   <message name="setPrinted4Request">
      <part name="sessionID" type="xsd:string"/>
      <part name="transactionID" type="xsd:string"/>
      <part name="parent" type="xsd:long"/>
      <part name="boui" type="xsd:long"/>
   </message>
   <message name="setPrinted4Response"/>
   <message name="getAllTemplates5Request"/>
   <message name="getAllTemplates5Response">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="createDocument6Request">
      <part name="fileName" type="xsd:string"/>
      <part name="buff" type="xsd:base64Binary"/>
   </message>
   <message name="createDocument6Response">
      <part name="return" type="xsd:long"/>
   </message>
   <message name="createDocumentInSession7Request">
      <part name="sessionID" type="xsd:string"/>
      <part name="fileName" type="xsd:string"/>
      <part name="buff" type="xsd:base64Binary"/>
   </message>
   <message name="createDocumentInSession7Response">
      <part name="return" type="xsd:long"/>
   </message>
   <message name="removeDocument8Request">
      <part name="sessionID" type="xsd:string"/>
      <part name="boui" type="xsd:long"/>
   </message>
   <message name="removeDocument8Response"/>
   <portType name="ClientHelperPortType">
      <operation name="getDocumentByBoui">
         <input name="getDocumentByBoui0Request" message="tns:getDocumentByBoui0Request"/>
         <output name="getDocumentByBoui0Response" message="tns:getDocumentByBoui0Response"/>
      </operation>
      <operation name="setDocumentByBoui">
         <input name="setDocumentByBoui1Request" message="tns:setDocumentByBoui1Request"/>
         <output name="setDocumentByBoui1Response" message="tns:setDocumentByBoui1Response"/>
      </operation>
      <operation name="getDocument">
         <input name="getDocument2Request" message="tns:getDocument2Request"/>
         <output name="getDocument2Response" message="tns:getDocument2Response"/>
      </operation>
      <operation name="setDocument">
         <input name="setDocument3Request" message="tns:setDocument3Request"/>
         <output name="setDocument3Response" message="tns:setDocument3Response"/>
      </operation>
      <operation name="setPrinted">
         <input name="setPrinted4Request" message="tns:setPrinted4Request"/>
         <output name="setPrinted4Response" message="tns:setPrinted4Response"/>
      </operation>
      <operation name="getAllTemplates">
         <input name="getAllTemplates5Request" message="tns:getAllTemplates5Request"/>
         <output name="getAllTemplates5Response" message="tns:getAllTemplates5Response"/>
      </operation>
      <operation name="createDocument">
         <input name="createDocument6Request" message="tns:createDocument6Request"/>
         <output name="createDocument6Response" message="tns:createDocument6Response"/>
      </operation>
      <operation name="createDocumentInSession">
         <input name="createDocumentInSession7Request" message="tns:createDocumentInSession7Request"/>
         <output name="createDocumentInSession7Response" message="tns:createDocumentInSession7Response"/>
      </operation>
      <operation name="removeDocument">
         <input name="removeDocument8Request" message="tns:removeDocument8Request"/>
         <output name="removeDocument8Response" message="tns:removeDocument8Response"/>
      </operation>
   </portType>
   <binding name="ClientHelperBinding" type="tns:ClientHelperPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getDocumentByBoui">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getDocumentByBoui0Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getDocumentByBoui0Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="setDocumentByBoui">
         <soap:operation soapAction="" style="rpc"/>
         <input name="setDocumentByBoui1Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="setDocumentByBoui1Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getDocument">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getDocument2Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getDocument2Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="setDocument">
         <soap:operation soapAction="" style="rpc"/>
         <input name="setDocument3Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="setDocument3Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="setPrinted">
         <soap:operation soapAction="" style="rpc"/>
         <input name="setPrinted4Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="setPrinted4Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getAllTemplates">
         <soap:operation soapAction="" style="rpc"/>
         <input name="getAllTemplates5Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="getAllTemplates5Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="createDocument">
         <soap:operation soapAction="" style="rpc"/>
         <input name="createDocument6Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="createDocument6Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="createDocumentInSession">
         <soap:operation soapAction="" style="rpc"/>
         <input name="createDocumentInSession7Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="createDocumentInSession7Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="removeDocument">
         <soap:operation soapAction="" style="rpc"/>
         <input name="removeDocument8Request">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="removeDocument8Response">
            <soap:body use="encoded" namespace="WSDocument" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="WSDocument">
      <port name="ClientHelperPort" binding="tns:ClientHelperBinding">
         <soap:address location="http://localhost:8989/rv/WSDocument"/>
      </port>
   </service>
</definitions>
